.container {
  width: 1280px;
  margin: 0 auto;
}
input[type="text"],
input[type="number"],
textarea {
  width: 200px;
}
.field {
  margin-bottom: 20px;
}
label {
  display: block;
}
dl dt,
dl dd {
  margin-bottom: 20px;
}
dl dt {
  font-size: 120%;
  font-weight: bold;
}
#rental {
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}
@media only screen and (max-width: 1279px){
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
